#my-calendar{
    margin: 2% 0 0 2%;
    width: 50%;

    height: 50%;
    max-height: 600px;
    
}

.form-container{
    width: 40%;

    height: 50%;
    max-height: 600px;
    padding: 3% 10%;
    margin: 2% 2% 0 auto;
    text-align: center;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.form-container form label,
.form-check{
    align-self: baseline;
    margin: 0;
}
.form-container form *{
    margin: 3% 0;
}