<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hit the Dot</title>

    {% include 'common-imports.html' %}

    <link rel="stylesheet" href="{{url_for('login.static', filename='css/login.css')}}">
</head>

<body>
    <button title="Voltar à home" onclick='window.location.href = "/"' class='btn mx-auto bck-btn'><i class="fa fa-arrow-left"
            aria-hidden="true"></i></button>
    <div class="login-container">

        <a href="/" class="link-dark text-decoration-none ml-3 my-auto">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
        </a>
        <p class="subtitle">Seja bem-vindo</p>

        {% if erro %}
        <p class="text-danger">{{erro}}</p>
        {% endif %}
        <form method="POST" class="row row-cols-lg-auto g-3 align-items-center mb-4">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <input class="form-control mt-5" type='email' placeholder="Email" name='email' required>

            <div class="password-container">
                <input class="form-control mt-3 mb-3" id="password" type="password" placeholder="Senha" name='password' autocomplete='true' required>
                <button class="btn-show" id="show-pass" type="button"><i class="fas fa-eye"></i></button>
            </div>

            {{recaptcha}}
            
            <input type="submit" value="Login" class="btn btn-dark mx-auto mt-3">

        </form>

        <a href="/recuperar-senha" class="link-dark text-decoration-none mt-3">Esqueceu a Senha?</a>

    </div>

    <svg viewBox="0 0 1920 634" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M954 95.001C526.4 -75.399 140.167 23 0 94L-1 634.088L1920 634.001V94.0006C1775.5 165.001 1381.6 265.401 954 95.001Z"
            fill="#F8BE00" />
    </svg>


</body>

<script>
    document.getElementById('show-pass').addEventListener('click',
        function(event){
            event.preventDefault();
            pass_input = document.getElementById('password');
            icon = document.getElementById('show-pass');

            if(pass_input.type == 'password'){
                pass_input.type = 'text';
                icon.innerHTML = '<i class="fa fa-eye-slash" aria-hidden="true"></i>'
            }else{
                pass_input.type = 'password';
                icon.innerHTML = '<i class="fa fa-eye" aria-hidden="true"></i>'
            }
        }
    )
</script>
</html>