input.task.form-control.form-control-sm{
    display: inline-block;
    width: 100%;
    padding: 0 10%;
}

.task-container{
    margin: 2vh 0;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.inputs-container{
    display: flex;
    flex-direction: row;
    width: 80%!important;
}

.inputs-container *{
    margin: 5% 2%;
}

.inputs-container input{
    width: 65%!important;
}

.inputs-container select{
    width: 30%!important;
}
