<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Férias</title>

    {% include 'common-imports.html' %}

    <!-- Date Range -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('painel.static', filename='css/painel.css')}}">
    <link rel="stylesheet" href="{{url_for('ferias.static', filename='css/adicionar-ferias.css')}}">
    <link rel="stylesheet" href="{{url_for('cargos.static', filename='css/multi-select.css')}}">

    <!-- Custom JS -->
    <script src="{{url_for('cargos.static', filename='js/multi-select.js')}}"></script>

</head>

<body>
    {% include 'nav-bar.html' %}

    <div class='container'>
        <div class="col-2">
            {% include 'sidepanel/sidepanel.html' %}
        </div>
        <div class="col-6 content-container">

            <div class="box-shadow main-content my-auto" style='text-align: center;'>
                <h1 class="mb-3">Editar Férias</h1>
                <form method='POST'>
                    <input type="hidden" name="csrf_token" value='{{csrf_token()}}'>

                    <div class="date-picker my-auto box-shadow">
                        <i class="fa fa-calendar my-auto" aria-hidden="true"></i>
                        <div style="width: 15vw; text-align: center;" class="mx-auto my-auto">
                            <b style="font-size: 1.2em">Selecionar Período</b>
                        </div>
                    
                        <input type="text" id="month-picker" value="-1" name="daterange"/>
                        
                    </div>

                    <div class="flex">
                        <input type="submit" value="Criar" class="btn btn-warning">

                        <a href="/ferias" class="btn btn-dark">Voltar</a>
                    </div>
                </form>
            </div>

        </div>
    </div>


</body>
<footer>
    <script>
        minDate = moment();
        maxDate = moment().add(1, 'years');


        $(function () {
            $('input[name="daterange"]').daterangepicker({
                opens: 'center',
                minDate: minDate,
                maxDate: maxDate,
                locale: {
                    format: 'DD/MM/YYYY',
                    cancelLabel: 'Cancelar',
                    applyLabel: 'Selecionar',
                    daysOfWeek: [
                        'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'
                    ],
                    monthNames: [
                        'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
                        'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'
                    ]
                }
            });
        });
    </script>
</footer>

</html>