<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Férias</title>

    {% include 'common-imports.html' %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('ferias.static', filename='css/ferias.css')}}">
    
    <!-- Custom JS -->
    <script src="{{url_for('ferias.static', filename='js/excluir-ferias.js')}}"></script>

</head>
<body>
    {% include 'nav-bar.html' %}

    <div class='container'>
        <div class="col-2">
            {% include "sidebar-admin.html" %}
        </div>
        <div class="col-6 content-container">
            <div class='table-ferias'>
                {% include 'table-ferias.html' %}
            </div>
        </div>
    </div>

    
</body>
</html>