<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hit the Dot</title>

    {% include 'common-imports.html' %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('painel.static', filename='css/painel.css')}}">
    <link rel="stylesheet" href="{{url_for('cargos.static', filename='css/criar-cargo.css')}}">
    <link rel="stylesheet" href="{{url_for('cargos.static', filename='css/multi-select.css')}}">

    <!-- Custom JS -->
    <script src="{{url_for('cargos.static', filename='js/cargos.js')}}"></script>
    <script src="{{url_for('cargos.static', filename='js/multi-select.js')}}"></script>

</head>

<body>
    {% include 'nav-bar.html' %}

    <div class='container'>
        <div class="col">
            {% include "sidebar-admin.html" %}
        </div>
        <div class="col-6 content-container">
            <div class="painel">
                <div class="content">
                    <h3>Adicionar Cargo</h3>
                    <form method="POST">
                        <input type="hidden" value="{{csrf_token()}}" name='csrf_token'>


                        <input type="text" name='nome' placeholder="Nome" class="form-control mb-3" required>

                        <div style="padding: 0 20%;">
                            <label for="funcionarios" class="mb-1">Funcionarios deste Cargo</label>
                            <select multiple="multiple" id="funcionarios" name="funcionarios">
                                {% for funcionario in funcionarios %}
                                <option value="{{funcionario.id}}">{{funcionario.name}}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <br>

                        <label for="descricao" class="mt-2">Descrição do Cargo</label>
                        <textarea name="descricao" class="form-control" required></textarea>

                        <input type="submit" class="btn btn-dark mt-3" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<footer>
    <script>
        $('#funcionarios').multiSelect();
    </script>
</footer>

</html>