{% if cargos %}
<table>
    <tr class="box-shadow content">
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    {% for cargo in cargos %}
    <tr class="box-shadow content">
        <th>{{cargo['nome']}}</th>
        <th>
            <button title="Excluir" class="btn-danger btn"
                onclick="excluir_cargo({{cargo['id']}}, '{{csrf_token()}}')"><i class="fas fa-times"></i></button>
            <button title="Editar" class="btn-warning btn" onclick="window.location.href = 'editar/{{cargo['id']}}'"><i
                    class="fas fa-pencil"></i></button>
        </th>
    </tr>
    {% endfor %}
</table>
{% endif %}