<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hit the Dot</title>

    {% include 'common-imports.html' %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('painel.static', filename='css/painel.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/progress-circle.css')}}">

    <!-- Custom JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include 'nav-bar.html' %}

    <div class='container'>
        <div class="col-2">
            {% include "sidebar-admin.html" %}
        </div>
        <div class="col-6 content-container">
            <div class='painel'>
                <div class="container-tarefa">

                    <label for="funcionario"></label>
                    <input type="text" value="{{funcionario.name}}" name='funcionario'>
                    
                    <label for="date">Data</label>
                    <input type="date" value="{{relatorio.dia}}" name='date'>

                    <textarea name="tarefas" id="tarefas" cols="30" rows="20">
                        "{{relatorio.tarefas}}"
                    </textarea>

                </div>
            </div>
        </div>
    </div>
</body>
</html>