<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">

    {% include 'common-imports.html' %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/default-table.css')}}">
    <link rel="stylesheet" href="{{url_for('clientes.static', filename='css/clientes.css')}}">
    <link rel="stylesheet" href="{{url_for('painel.static', filename='css/painel.css')}}">

    <!-- Custom JS -->
    <script src="{{url_for('clientes.static', filename='js/clientes.js')}}"></script>
</head>

<body>
    {% include 'nav-bar.html' %}

    <div class='container'>
        <div class="col">
            {% include "sidebar-admin.html" %}
        </div>
        <div class="col-6 content-container">
            <div class='painel'>
                <div class="container-table">
                    <div class="clientes">
                        {% if clientes %}
                        {% include 'table_clientes.html' %}
                        {% endif %}
                    </div>
                </div>

                <div class="utils-container">
                    <div class="align-items-center container-buttons box-shadow pt-3 pb-3">
                        <a class="btn" href="/cliente/cadastro">Registrar Cliente</a>
                    </div>
                </div>

            </div>
        </div>
</body>

</html>