<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hit the Dot</title>

    {% include 'common-imports.html' %}
    <link rel="stylesheet" href="{{url_for('painel.static', filename='css/painel.css')}}">
    <link rel="stylesheet" href="{{url_for('turnos.static', filename='css/turnos.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/default-table.css')}}">
    <link rel="stylesheet" href="{{url_for('faltas.static', filename='css/falta.css')}}">

    <!-- custom JS -->
    <script src="{{url_for('faltas.static', filename='js/falta.js')}}"></script>

</head>

<body>

    {% include 'nav-bar.html' %}

    <div class='container'>
        <div class="col">
            {% include 'sidepanel/sidepanel.html' %}
        </div>
        <div class="col-6 content-container">

            <div class="container-falta box-shadow">
                <h3>Falta</h3>
                <form>
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    
                    <label for="date">Data da Falta</label>
                    <input class="form-control" type="date" value="{{falta.get_html_date()}}" name="date" disabled>
    
                    {% if falta.is_abonada() %}
                    <label for="status">Estado atual da falta:</label>
                    <input class="form-control" type="text" value="Abonada" disabled name="status">
                    <a class="btn btn-dark" style="margin-top: 5%; width: 200px;" href="/faltas">Voltar</a>
                    {% else %}
                    <div class="container-buttons">
                        <button class="btn btn-warning" type="button"
                            onclick="abonarFalta({{falta.id}}, '{{csrf_token()}}')">Abonar Falta</button>
                        <a class="btn btn-dark" href="/faltas">Voltar</a>
                    </div>
                    {% endif %}
    
                </form>
            </div>

            <div class="container-funcionario box-shadow">
                <img class="img-funcionario" src="{{url_for('protected.protected_file', filename=funcionario.id|string + '/profile.jpg')}}">
                
                <h4>{{funcionario.name}}</h4>

                <a href="/funcionario/{{funcionario.id}}" class="btn btn-warning">Abrir Perfil</a>
            </div>
        </div>
    </div>
</body>

</html>