<!DOCTYPE html>
<html lang="pt-br">

<head>
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hit the Dot</title>

        {% include 'common-imports.html' %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/default-table.css')}}">
        <link rel="stylesheet" href="{{url_for('demandas.static', filename='css/servicos-atribuidos.css')}}">
        <script src="{{url_for('demandas.static', filename='js/servicos-atribuidos.js')}}"></script>
</head>

<body>


        {% include 'nav-bar.html' %}

        <div class='container'>
                <div class="col">
                        {% include 'sidepanel/sidepanel.html' %}
                </div>
                <div class="col-6 content-container">
                        {% if servicos %}
                        {% include 'table-servicos-atribuidos.html' %}
                        {% endif %}
                </div>
        </div>
</body>

</html>