<table id="demandas-table">
        <tr class="box-shadow">
            <th>Dia</th>
            <th>Titulo</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        {% for demanda in demandas %}
        <tr class="box-shadow content">
            <th>{{demanda.get_formated_date()}}</th>
            <th>{{demanda.name}}</th>
            {% if demanda.is_verified() %}
                <th class="verified">Verificada</th>
            {% else %}
                <th class="not-verified">Pendente</th>
            {% endif %}
            <th>
                {% if demanda.url %}
                <button title="Ver" class="btn-warning btn" onclick="abrirDemanda('{{demanda.url}}')"><i
                        class="fas fa-eye"></i></button>
                {% else %}
                <button title="Sem Url" class="btn-secondary btn" disabled='true'>
                    <i class="fas fa-eye"></i></button>
                {% endif %}
                <button title="Editar" class="btn-warning btn" onclick="editar('{{demanda.id}}')"><i class="fa fa-pen"></i></button>
            </th>
        </tr>
        {% endfor %}
</table>