<table>
        <thead>
                <tr>
                        <td>Serviço</td>
                        <td>Valor</td>
                        <td>Tempo</td>
                        <td>Categoria</td>
                        <td>Ações</td>
                </tr>
        </thead>
        <tbody>
                {% for servico in servicos -%}
                <tr>
                        <td>{{servico.name}}</td>
                        <td>{{servico.valor}}</td>
                        <td>{{servico.tempo}}</td>
                        <td>{{categorias[servico.categoria]}}</td>
                        <td>
                                <button class="btn btn-danger" onclick="excluirServico({{servico.id}}, '{{csrf_token()}}')">Excluir</button>
                                <button class="btn btn-warning" onclick="verServico('{{servico.link_trello}}')">Ver</button>
                                {% if not servico.is_verified %}
                                <button class="btn btn-success" onclick="atualizarStatus({{servico.id}}, '{{csrf_token()}}', true)">Validar</button>
                                {% else %}
                                <button class="btn btn-danger" onclick="rejeitarServico({{servico.id}}, '{{csrf_token()}}', false)">Rejeitar</button>
                                {% endif %}
                        </td>
                </tr>
                {%- endfor %}
        </tbody>
</table>