.container-table {
    width: 65%;
    max-width: 80vw;

    height: 80vw;
}

.utils-container{
    height: 95vh;
    max-height: calc(100vh - 64px);

    margin-left: auto;
    margin-right: 2%;
    width: 25%;
}

.container-filtro {
    display: inline-block;
    width: 100%;
    
    height: auto;
    max-height: 450px;

    text-align: center;
    padding: 8% 5%;

    margin-top: 10%;
}

.container-filtro form {
    position: relative;
    bottom: 0;
    display: block;
    text-align: center;
}

.container-filtro form input, .container-filtro form select {
    margin: 5px 0;
}
.container-filtro form label {
    text-align: left !important;
}

.container-filtro form .btn{
    width: 70%;
    max-width: 250px;
    color: white;
}
.turnos {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: #f0f0f1!important;
    border-radius: 14px;    
}

input:checked {
    filter: invert(100%) hue-rotate(1deg) brightness(1.7);
}

.form-label{
    margin-bottom: 0;
}

form{
    text-align: left;
    margin-top: 15%!important;
}


#data:hover, #funcionario:hover{
    cursor: pointer;
    font-size: 1.1em;
}