.col-2{
    height: 90vh;
    max-height: 90vh;
    width: 15vw;
    min-width: 15vw;
    flex: 0 0 0% !important;
    padding: 0 !important;
}

.col-6{
    flex: 0 0 88.3% !important;
    padding: 0 !important;
}

.content-container{
    background-color: #f0f0f1!important;
    border-top-left-radius: 14px;
    height: 100vh;
    max-height: calc(100vh - 64px);
    max-width: 85vw !important;
}

.first-line,
.second-line,
.third-line{
    margin: auto;
    width: 95%;
    max-width: 80vw;
    display: flex;
    align-items: center;
}

.first-line{
    margin-top: 1.5%;
    height: 10%;
}

.second-line{
    height: 30vh;
}

.third-line{
    height: 40vh;
}
 

h1, h2, h3, h4{
    font-family: 'Cairo', sans-serif;
}

.title-container{
    margin-left: 2%;
    margin-top: 1.5%;
}

.title{
    font-size: 4vmin !important;
    font-weight: bold;
}

.subtitle{
    font-size: 2vmin;
    font-weight: 500;
    color: #a1a1a1 !important;
}

.date-picker{
    margin-left: 30px;
    display: flex;

    position: relative;
    margin: auto;
    margin-right: 1%;
    max-width: 300px;

    height: 90%;
    min-height: 6vh;
    max-height: 8vh;

}

i.fa.fa-calendar.my-auto{
    margin-left: 10px;
    color: #f8be00;
    font-size: 3.5vmin;
}

.numero-horas{
    font-size: 2.5em;
}

.contador-hora{
    text-align: center;
}

.container-horas,
.container-horas-extras,
.container-assiduidade{
    margin: 0 10px;
}
.container-horas-extras *,
.container-horas *,
.container-assiduidade *{
    width: 100%!important;
}

.container-horas,
.container-horas-extras,
.container-assiduidade{
    display: flex;
    padding: 2vmin;

    width: 33%;

    height: 100%;    
    max-height: 30vh;
}

.container-horas-totais,
.container-estatisticas{
    padding: 1% 1.5% 0 1.5%;
    margin: -10px 1%;

    width: 50%;

    height: 100%;
    max-height: 40vh;
    min-height: 35vh;
}

.sub-container{
    display: inline-block;
    height: 50%;
}

.btn-funcionarios{

    background-color: #f8be00;
    color: white;

    border-radius: 14px;
    
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    
    padding: 10px;


    transition: 0.1s ease-in-out;
}

.flex{
    display: flex;
}

.btn-funcionarios:hover{
    color: white;
    font-size: 1.5em;
}

.btn-salvar-relatorio{
    color: #f8be00;
    border-color: #f8be00;

    border: 1px solid #f8be00;

    background-color: transparent;

    height: 40px;
    border-radius: 8px;

    transition: 0.2s ease-in-out;
    margin-left: auto;
    margin-right: 10px;
}

.btn-salvar-relatorio:hover{
    transform: scale(1.1);
    color: white;
    background-color: #f8be00;
}


.subtitle-container{
    display: inline-block;
}

.stats-title{
    font-size: 1.5em;
}

.flex{
    height: 8vw;
    max-height: 70px;
}

canvas#chartRelatorio{
    position: relative;
    margin-top: 3%;
    max-height: 60%;
}

.painel{
    min-height: 90vh;

    width: 100%;
}

.progress-circle{
    width: 250px;
}

text.text-inside{
    font-size: 1.5em;
}

canvas#chartRanking{
    margin-top: 5%;
    height: 90%;
    width: 100%;
}

#month-picker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
}
#month-picker::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.daterangepicker td.active,
td.active.end-date.in-range.available,
button.applyBtn.btn.btn-sm.btn-primary,
td.active.start-date.available.in-range{
    background-color: #f8be00!important;
}

.daterangepicker td.in-range{
    background-color: rgba(248, 190, 0, 0.2)!important;
}

.grid-stats{
    width: 50%;

    height: 100%;
    max-height: 40vh;
    min-height: 35vh;

    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: 49% 49%;
    gap: 2.5%;
    text-align: center;
}


.grid-stats div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}