<!DOCTYPE html>
<html lang="pt-br">

<head>
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hit the Dot</title>

        <link rel="stylesheet" href="{{url_for('turnos.static', filename='css/extrato.css')}}">
        {% include 'common-imports.html' %}
</head>
<header>
        <img src="https://dbsweb.com.br/my_content/uploads/2019/05/logo-dbs-svg.svg"/>
</header>
<body>
        <button onclick="print()" class="no-print btn btn-warning">Imprimir</button>

        <table>
                <thead>
                        <tr>
                                <td>Funcionario</td>
                                <td>Data</td>
                                <td>Horário de Entrada</td>
                                <td>Horário de Saída</td>
                                <td>Tempo de Turno</td>
                        </tr>
                </thead>
                <tbody>
                        {% for turno in turnos %}
                        <tr>
                                <td>{{func.name}}</td>
                                <td>{{turno.dia}}</td>
                                <td>{{turno.hora_entrada}}</td>
                                <td>{{turno.hora_saida}}</td>
                                <td>{{turno.get_total_time_str()}}</td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>


</body>
</html>