<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hit the Dot</title>

    {% include 'common-imports.html' %}
    <link rel="stylesheet" href="{{url_for('painel.static', filename='css/painel.css')}}">
    <link rel="stylesheet" href="{{url_for('turnos.static', filename='css/turnos.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/default-table.css')}}">
    
    <!-- custom JS -->
    <script src="{{url_for('turnos.static', filename='js/turnos.js')}}"></script>



</head>

<body>

    {% include 'nav-bar.html' %}

    <div class='container'>
        <div class="col">
            {% include "sidebar-func.html" %}
        </div>
        <div class="col-6 content-container">
            <div class="flex">
                <div class="container-table">
                    <div class="turnos">
                        {% if turnos %}
                        {% include 'table-meus-turnos.html' %}
                        {% endif %}
                    </div>

                </div>

                <section class="utils-container">
                    <div class="container-filtro box-shadow clearfix">
                        <h4 class="mx-auto">Filtro</h4>
                        <form method="get">
                            <label for="date" class="form-label">Data</label>
                            <input type="date" name='date' id="date-picker" min="2020-01-01" max="max_date"  class="form-control">
                            <br>
                            <input type="submit" value="Buscar" class="btn-dark btn">
                            <br>
                            <a href="/meus-turnos" class="btn btn-warning mt-3">Remover Filtro</a>
                        </form>
                    </div>
                </section>
            </div>
        </div>

    </div>

</body>
<script>
    max_date = new Date().toISOString().split("T")[0];
    document.getElementById('date-picker').setAttribute('max', max_date);
</script>
</html>