<table id='turnos-table'>
    <thead>
        <tr class="box-shadow">
            <th id="data">Data</th>
            <th id="funcionario">Funcionario</th>
            <th>Tempo Total</th>
            <th>Horário de Entrada</th>
            <th>Horário de Saída</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for turno in turnos %}
        <tr class="box-shadow table-content">
            <!-- Data -->
            <th>{{turno.get_formated_date()}}</th>
            
            <!-- Nome do Funcionario -->
            <th>{{dict_user_ids[turno.user_id][0]}}</th>
            
            <!-- Tempo total de turno -->
            {% if turno.current_status == 'clocked_out' %}
            <th>{{turno.get_total_time_str()}}</th>
            {% else %}
            <th>Não Finalizado!</th>
            {% endif %}
            
            <th>{{turno.hora_entrada}}</th>        
            
            <!-- Hora Saida -->
            {% if turno.hora_saida %}
            <th>{{turno.hora_saida}}</th>
            {% else %}
            <th>--:--:--</th>
            {% endif %}

            <!-- Status Turno -->
            {% if turno.current_status == 'clocked_out' %}
            <th>Finalizado</th>
            {% elif turno.current_status == 'pausado' %}
            <th>Pausado</th>
            {% elif turno.current_status == 'break_in' %}
            <th>Almoçando</th>
            {% else %}
            <th>Aberto</th>
            {% endif %}
            
            <!-- Ações -->
            <th>
                {% if turno.current_status == 'clocked_out' %}
                <button title="Ver" class="btn-success btn"
                    onclick="abrirTurno({{turno.user_id}}, '{{turno.dia}}')"><i
                        class="fas fa-eye"></i></button>
                {% else %}
                <button class="btn-secondary btn" disabled><i class="fas fa-eye"></i></button>
                {% endif %}
                <button title="Editar" class="btn-warning btn"
                    onclick="editarTurno({{turno.user_id}}, '{{turno.dia}}')"><i
                        class="fas fa-pencil-alt"></i></button>
                <button title="Excluir" class="btn-danger btn"
                    onclick="excluirTurno({{turno.id}}, '{{csrf_token()}}')"><i
                        class="fas fa-times"></i></button>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>