<table id='func-table'>
    <thead>
        <tr class="box-shadow">
            <th id="data">Data</th>
            <th id="funcionario">Funcionario</th>
            <th>Tempo Total</th>
            <th>Horário de Entrada</th>
            <th>Horário de Saída</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for turno in turnos %}
        <tr class="box-shadow table-content">
            <th>{{turno.dia}}</th>
            <th>{{dict_func_ids[turno.user_id][0]}}</th>
            <th>{{turno.get_total_time()}}</th>
            <th>{{turno.hora_entrada}}</th>
            <th>{{turno.hora_saida}}</th>
            <th>
                <button title="Ver" class="btn-success btn"
                    onclick="abrirTurno({{turno.user_id}}, '{{turno.dia}}')"><i
                        class="fas fa-eye"></i></button>
                <button title="Editar" class="btn-warning btn"
                    onclick="editarTurno({{turno.user_id}}, '{{turno.dia}}')"><i
                        class="fas fa-pencil-alt"></i></button>
                <button title="Excluir" class="btn-danger btn"
                    onclick="excluirTurno({{turno.user_id}}, '{{turno.dia}}', '{{csrf_token()}}')"><i
                        class="fas fa-times"></i></button>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>