div.painel {
    text-align: center;
    height: 90vh;
    overflow-y: scroll;
}

.content {
    padding-top: 2vh;
    background: #FFFFFF;
    border-radius: 0px!important;
}

form {
    display: block !important;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 5vh 10vw;
}

div#ms-funcionarios {
    display: inline-block;
}

textarea {
    width: 100%;
}

li.ms-hover{
    background-color: #f8be00!important;
}

.ms-list.ms-focus,
.form-control:focus{
    border-color:  #f8be00!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgb(248, 190, 0, 0.6) !important;
}

.btn-dark{
    width: 150px;
}

.ms-container{
    width: 100%!important;
}

.container-table {
    width: 70%;
    height: 80vh;
    padding: 2vw;
}

.utils {
    width: 25%;
    margin: 0 auto;
    height: 95vh;
    max-height: calc(100vh - 64px);

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;  
     
}

.container-buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
    height: auto;
    max-height: 300px;
    text-align: center;
    padding: 8% 5%;
}


a.btn.btn-warning{
    color: white;
    transition: all ease-in-out 0.2s;
}

a.btn.btn-warning:hover{
    transform: scale(1.05);
}