.content-container{
    display: flex;
}

.table-ferias{
    width: 60vw;
    height: 80vh;
    padding: 2vw;
}

.utils-container{
    display: flex;
    flex-direction: column;

    width: 25%;
    margin-left: auto;
    margin-right: 2%;
    min-height: 90vh;
    max-height: calc(100vh - 64px);
}
.container-filtro{
    margin-top: 10%;
    padding: 5%;
    text-align: center;
}
.container-filtro form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
form input{
    margin-bottom: 10%;
}

form .btn{
    width: 60%;
    margin-bottom: 2%;
}
.container-buttons{
    margin-top: auto;
    margin-bottom: 10%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0;
}

.container-buttons a.btn {
    width: 80%;
    max-width: 90%;
    margin: 12px 0!important;
    font-size: 1em;
    background-color: #f8be00;
    color: white;
    transition: 0.2s;
    margin-top: auto;
    margin-bottom: auto;
}
.container-buttons a.btn:hover {
    transform: scale(1.1);
}