<table class="table-hover">
    <thead>
        <tr class="box-shadow">
            <th>Nome do Feriado</th>
            <th>Data</th>
            <th>Repete todo Ano</th>
            {% if is_admin(user) %}
            <th>Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for feriado in feriados %}
        <tr class="box-shadow content">
            <td><b>{{feriado['name']}}</b></td>
            <td>{{feriado['date']}}</td>
            {% if feriado['repeat'] %}
            <td>Sim</td>
            {% else %}
            <td>Não</td>
            {% endif %}

            {% if is_admin(user) %}
            <td>
                <button class="btn btn-warning" onclick="editarFeriado({{feriado['id']}})">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button class="btn btn-danger" onclick="excluirFeriado({{feriado['id']}}, '{{csrf_token()}}' )">
                    <i class="fas fa-times"></i>
                </button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>