<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hit the Dot</title>

    {% include 'common-imports.html' %}

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{url_for('bater_ponto.static', filename='css/bater_ponto.css')}}">
    <link rel="stylesheet" href="{{url_for('painel.static', filename='css/painel.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/progress-circle.css')}}">
    {% if turno and turno.current_status == 'clocked_out' %}
    <link rel="stylesheet" href="{{url_for('bater_ponto.static', filename='css/painel_turno.css')}}">
    {% endif %}

    <!-- JS Files -->
    <script src="{{url_for('static', filename='js/progress-circle.js')}}"></script>
    <script src="{{url_for('bater_ponto.static', filename='js/asyncTimer.js')}}"></script>
    <script src="{{url_for('bater_ponto.static', filename='js/bater_ponto.js')}}"></script>


</head>

<body>

    {% include 'nav-bar.html' %}
    <div class='container'>
        <div class="col-2">
            {% include "sidebar-func.html" %}
        </div>
        <div class="col-6 content-container">
            {% if turno %}

            {% if turno.current_status == 'clocked_in' %}
            <section class="ponto">
                <form method="POST" class="bater-ponto">

                    <div class="right-panel">

                        <div class="timer box-shadow flex-box">
                            <h2>Turno</h2>
                            {% include 'progress-circle.html' %}
                            <h4 id="remaining-time"></h4>
                        </div>
                        <!-- <input type="submit" class="btn btn-dark" value="Terminar Turno"> -->
                        <div class="container-buttons flex-box box-shadow align-items-center">
                            <button type='button' class="btn btn-dark"
                                onclick="requestUpdateStatus('break_in', '{{csrf_token()}}')">Iniciar
                                Almoço</button>
                            <button type='button' class="btn btn-dark"
                                onclick="requestUpdateStatus('clock_out','{{csrf_token()}}')">Terminar
                                Turno</button>
                        </div>
                    </div>
                </form>
            </section>

            {% elif turno.current_status == 'break_in' %}
            <div class="box-shadow center">
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name='status' value="break_out">
                    <input type="submit" class="btn btn-dark" value="Voltar do Almoço">
                </form>
            </div>
            {% else %}
            <h1 class="ms-3 mt-3">Turno de Hoje</h1>
            <div class="grid">
                <div class="turno box-shadow">
                    <h4>Turno</h4>
                    <div class="flex-row">
                        <div class="container-progress-ring">
                            {% include 'progress-circle.html' %}
                        </div>
                        <hr width="1" size="100">
                        <div class="info">
                            <ul>
                                <li><b>Hora de Entrada:</b> {{turno.hora_entrada}}</li>
                                <li><b>Hora de Saída:</b> {{turno.hora_saida}}</li>
                                <li><b>Tempo total:</b> {{turno.get_total_time()}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% if turno.almocou %}
                <div class="turno box-shadow">
                    <h4>Almoço</h4>
                    <div class="flex-row">
                        <div class="container-progress-ring">
                            {% include 'progress-circle.html' %}
                        </div>
                        <hr width="1" size="100">
                        <div class="info">
                            <ul>
                                <li><b>Hora de Entrada:</b> {{turno.inicio_almoco}}</li>
                                <li><b>Hora de Saída:</b> {{turno.fim_almoco}}</li>
                                <li><b>Tempo total:</b> {{turno.get_tempo_almoco()}}<li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% else %}
            <div class="box-shadow center">
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name='status' value="clock_in">
                    <input type="submit" class="btn btn-dark mx-auto" value="Iniciar Turno">
                </form>
            </div>

            {% endif %}
        </div>

    </div>
</body>

{% if turno and turno.current_status != 'break_in' %}
<footer>
    {% if turno.current_status == 'clocked_in'%}
    <script>
        // Seta o timestamp do inicio do turno
        // Para calcular o tempo total no front-end
        startTimer({{ turno_funcionario }}, '{{turno.hora_entrada}}');
    </script>
    {% else %}
    <script>
        // Seta o Progress Ring
        var trabalho = '{{ turno.get_total_time()}}';

        var [hours, minutes, seconds] = trabalho.split(':');
        trabalho_total = (parseInt(hours) * 3600) + (parseInt(minutes) * 60) + (parseInt(seconds));
        turno_total = {{ turno_funcionario }} * 3600;
        percentage = (trabalho_total * 100 / turno_total).toFixed(1);

        // var [h_extras, min_extras, sec_extras] = hora_extra.split(':');
        // extra_total = (parseInt(h_extras) * 3600) + (parseInt(min_extras) * 60) + (parseInt(sec_extras));
        // extra_maxima = 3600 * 4;
        // percentage_extras = (extra_total * 100 / extra_maxima).toFixed(1);

        config = [[percentage, '#E328AF', 'rgba(227,40,175,0.1)']];

        {% if turno.almocou %}
        almoco = {{ turno.get_tempo_almoco().seconds }};
        max_almoco = 2 * 3600;
        percentage_almoco = ((almoco * 100) / max_almoco).toFixed(1);
        config_almoco = [percentage_almoco, '#1CBBFF', 'rgba(28,187,255,0.1)'];
        config[1] = config_almoco;
        {% endif %}

        setProgressCircles(config);

    </script>
    {% endif %}
</footer>
{% endif %}

</html>