<!DOCTYPE html>
<html lang="pt-br">

<head>
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hit the Dot</title>

        {% include 'common-imports.html' %}

        <!-- <link rel="stylesheet" href="{{url_for('servicos.static', filename='css/servicos.css')}}"> -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/default-table.css')}}">
        <link rel="stylesheet" href="{{url_for('servicos.static', filename='css/editar-servico.css')}}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/sifter/0.5.4/sifter.min.js"
                integrity="sha512-B60IUvYpG4cibCeQ30J8k/+qtN+fxKAIENb3DL2DVdzIt76IDIynAt92chPEwlCuKejOt//+OZL61i1xsvCIDQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.3/microplugin.min.js"
                integrity="sha512-7amIsiQ/hxbdPNawBZwmWBWPiwQRNEJlxTj6eVO+xmWd71fs79Iydr4rYARHwDf0rKHpysFxWbj64fjPRHbqfA=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/css/selectize.bootstrap5.min.css"
                integrity="sha512-w4sRMMxzHUVAyYk5ozDG+OAyOJqWAA+9sySOBWxiltj63A8co6YMESLeucKwQ5Sv7G4wycDPOmlHxkOhPW7LRg=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/js/selectize.min.js"
                integrity="sha512-8MxMBA7Rt4u4Hub7fgUVqRm2XQxEUybzTK5D2KAKHfToOR/5+1Y3dll3U4rtnyleGdW0O5GG2wYGAp9ZaebsbQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
        {% include 'nav-bar.html' %}

        <div class='container'>
                <div class="col">
                        {% include 'sidepanel/sidepanel.html' %}
                </div>
                <div class="col-6 content-container">
                        <div class="box-shadow gradient-background container-form">
                                <form method='POST'>
                                        <h2>Editar Serviço</h2>
                                        <input type="hidden" name='csrf_token' value='{{csrf_token()}}'>
                                        <div class="form-floating mb-3 mt-3">
                                                <input class="form-control" type="text" name='name'
                                                        value='{{servico.name}}'>
                                                <label for='name'>Nome do Serviço</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                                <input class="form-control" type="text" name='valor'
                                                        value='{{servico.valor}}'>
                                                <label for="valor">Valor (DB$)</label>
                                        </div>
                                        
                                        <div class="form-floating mb-3">
                                                <input class="form-control" type="text" name='tempo' value='{{servico.tempo}}'>
                                                <label for="tempo">Duração (Min)</label>
                                        </div>
                                        
                                        <input class="form-control btn btn-warning mt-3" type="submit">
                                </form>
                        </div>
                </div>
        </div>
</body>
</html>