<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Hit the Dot</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    {% include 'nav-bar.html' %}

    <div class='container'>
        <div class="col-2">
            {% include 'sidepanel/sidepanel.html' %}
        </div>
        <div class="col-6 content-container">
            <div class='painel'>
                <h1>Página não encontrada!</h1>
            </div>
        </div>
    </div>
</body> 
</html>