<nav class="navbar navbar-light bg-white justify-content-end">

    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{url_for('protected.protected_file', filename=user['id']|string + '/profile.jpg')}}" alt="" class="profile-img">
            <b class="text-dark">{{user['name']}}</b>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/painel">Painel</a></li>
            <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item logout" href="/logout">Logout</a></li>
        </ul>
    </div>

</nav>